/*navbar*/
.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
    /* blanco por defecto */
    transition: color 0.3s ease, text-decoration 0.3s ease;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #1a0dab !important;
    /*colores de google en hover y visited hover*/
    text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link:visited {
    color: #bfbfbf !important;
    /* gris */
}

.navbar-dark .navbar-nav .nav-link:visited:hover {
    color: #681da8 !important;
    /*colores de google en hover y visited hover*/
    text-decoration: underline;
    /* gris */
}

/*Header*/
.hero-title {
    background-color: #f8f9fa;
    margin-top: 0;
}

.hero-title h1 {
    font-size: 3rem;

    .hero-title p {
        font-size: 1.25rem;
        margin-top: 10px;
        color: #6c757d;
    }
}

/* Índice del menú - página menu.html*/
.menu-index {
    background-color: #ffffff;
}

.menu-index ul {
    list-style-type: none;
    /* Quitamos los bullets */
    padding-left: 0;
}

.menu-index li {
    margin: 6px 0;
}

.menu-index .list-group-item {
    border: none;
    border-left: 4px solid #212529;
    /* Línea lateral decorativa */
    padding: 15px 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.menu-index .list-group-item:hover {
    background-color: #e9f7fa;
}

.menu-index ul ul {
    padding-left: 25px;
    /* Sangría para niveles anidados */
}

.menu-index ul ul ul {
    padding-left: 35px;
    /* Sangría adicional para subniveles */
    font-size: 0.95rem;
    color: #555;
}

/*footer general*/
/* Footer */
/*Mismos colores en el footer que en el navbar*/
footer {
    background-color: #212529;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #1a0dab;
    text-decoration: underline;
}